.navbar-nav {
    display: flex;
    justify-content: center;
    /* Center the menu list horizontally */
    align-items: center;
    /* Align items vertically */
    gap: 10px;
    font-size: 2vb;
    font-weight: bold;
    color: #8E8E8E;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-nav .active {
    color: #3FC38B;
    text-decoration: underline;
}

.nav-link:hover {
    color: #3FC38B;
}
.btncontactus{
    background-color: #3FC38B; 
    font-weight:600;
    color: white; 
    border-radius: 10px; 
    font-size:17px; 
    padding:10px;
}
.btncontactus:hover{
background-color: rgb(57, 217, 150);
color: #8E8E8E;
}

@media (min-width: 992) {
    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

}
@media (max-width: 992px) {
    .sidenav {
        display: none;
        position: fixed;
    }
}


.nav-item {
    cursor: pointer;
}

@media (min-width: 993px) {
    .collapse {
        display: flex;
        justify-content: space-evenly;
    }
    .nav-item {
        margin: 20px;
    }
}

.home-content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.home-content .compnametext {
    color: #3FC38B;
    font-size: 3.7vb;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    text-align: center;
    font-weight: 900;
}

.home-content .partnertext {
    color: #8E8E8E;
    font-weight: bold;
    font-size: 2vb;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
}

.sideaboutus {
    overflow: hidden;
    border: 7px solid #3FC38B;
    text-orientation: mixed;
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    z-index: 0;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 10px;
    height: 700px;
    display: flex; 
    flex-direction: row-reverse;
    align-items: center;
    font-size: 1.5vb;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #3FC38B;
    width: 80px; /* Add a default width */
    transition: width 0.3s ease; 
}

.sideaddress {
    overflow: hidden;
    border: 7px solid #3FC38B;
    text-orientation: mixed;
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg); /* Rotate by 90 degrees clockwise */
    z-index: 0;
    border-radius: 20px;
    padding: 10px;
    height: 700px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    background-color:white;
    font-size: 1.5vb;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #3FC38B; 
    width: 80px; /* Add a default width */
    transition: width 0.3s ease; 
}
.pointaddress{
    padding: 5px;
    cursor:pointer;
    background-color: white;
    border: 5px solid #3FC38B; 
    width: 20px;
    height: 150px; 
    border-radius:50px;
}
.pointaboutus{
    padding: 5px;
    cursor:pointer;
    background-color: white;
    border: 5px solid #3FC38B; 
    width: 20px; 
    height: 150px; 
    border-radius:50px;
}
